@model Hostel_System.Model.BookToGuestModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>title</h2>
@{
    if (ViewBag.ErrorMessage != null)
    {
        <div class="alert alert-danger">
            @ViewBag.ErrorMessage
        </div>
    }
       
}
<form asp-controller="Reservation" asp-action="BookToGuest"> 
    <h2>Booking Room: </h2>
    <br /> Remember, day started at 2pm and end with 11 am.
    <br />
    <label>Guest or User Email:</label>
    @Html.EditorFor(x=> x.GuestEmail)
    <label>Room name:</label>
    @Html.EditorFor(x=> x.RoomName)
    <label>Book from:</label>
    @Html.EditorFor(model => model.BookingFrom, 
        new { htmlAttributes = new { @class = "form-control date-picker" } })<br />
    <label>Book To:</label>
    @Html.EditorFor(model => model.BookingTo, 
        new { htmlAttributes = new { @class = "form-control date-picker" } })<br />
    <input asp-for="AdditionalInformation" type="text" class="form-control"  placeholder="Additional Information">
    <button type="submit" class="btn btn-info">Book!</button>
</form>

@section scripts{
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script type="text/javascript">
        $(function() {
            $(".date-picker").datepicker({
                dateFormat: 'dd-M-yy'
            });

        });

    </script>
}